/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  font-size: 1.1rem;
  font-family: 'Noto Sans JP', sans-serif;
}

.cover-container {
  max-width: 58em;
}


/*
 * Header
 */
 header {
  font-family: var(--bs-font-sans-serif);
 }

 h1, h2, h3, h4, h5 {
  font-family: var(--bs-font-sans-serif);
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .install-button {
  margin-left: 1rem;
}

@media (max-width: 727px) {
  .nav-masthead .install-button {
    margin-top: 1rem;
  }
}

.nav-masthead .active {
  color: #f8f9fa;
  border-bottom-color: #f8f9fa;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.icon-flipped {
  transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
}

a {
  color: #a8a8ff;
}

.global-header a {
  text-decoration: none;
}

.global-footer a {
  color: #f8f9fa;
  margin-left: 1rem;
  text-decoration: none;
}


// Home

.how-it-works {
  margin-top: 10rem;
}

.how-it-works-icons {
  font-size: 3.5rem;
}

.fadeback {
  color: rgb(55, 161, 239);
}

.floating-number {
  position: absolute;
  font-size: 1.7rem;
  top: .2rem;
  left: 2.2rem;
}

.step-description {
  font-size: 1.1rem;
}

.feature-icon {
  font-size: 2rem;
  color: rgb(55, 161, 239);
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 20px;
}

h2, h3, h4 {
  a {
    text-decoration: none;
    color: inherit;
  }
}

h3 {
  color: #d55abf;
}

h4 {
  color: #45d2b2;
}

.language-support svg {
  background-size: 30px 30px;
}

// Why

.why-page h2 {
  color: #cbd5a7;
  margin-top: 20px;
}

.why-page h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.why-page li {
  margin-bottom: 7px;
}

// Language Support

.language-support-page ul, .rules-page ul {
  padding-left: 1rem;
}

// FAQ page

.faq-page h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
