<!doctype html>
<html lang="en" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#7952b3">

    <title>{{ page.title }}</title>

    <link rel="shortcut icon" href="/assets/image/32x32-favicon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css" integrity="sha512-P9vJUXK+LyvAzj8otTOKzdfF1F3UYVl13+F8Fof8/2QNb8Twd6Vb+VD52I7+87tex9UXxnzPgWA3rH96RExA7A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css" integrity="sha512-tk4nGrLxft4l30r9ETuejLU0a3d7LwMzj0eXjzc16JQj+5U1IeVoCuGLObRDc3+eQMUcEQY1RIDPGvuA7SNQ2w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/brands.min.css" integrity="sha512-sVSECYdnRMezwuq5uAjKQJEcu2wybeAPjU4VJQ9pCRcCY4pIpIw4YMHIOQ0CypfwHRvdSPbH++dA3O4Hihm/LQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/agate.min.css" integrity="sha512-wI7oXtzNHj/bqfLA3P6x3XYbcwzsnIKaPLfjjX8ZAXhc65+kSI6sh8gLOOByOKImokAjHUQR0xAJQ/xZTzwuOA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  </head>
  <body class="d-flex text-light bg-dark min-vh-100">
    <div class="cover-container d-flex w-100 h-100 min-vh-100 p-3 mx-auto flex-column">
      <header class="global-header mb-5">
        <div>
          <h3 class="float-md-start mb-0"><a href="/"><span class="text-warning">Dead</span><span class="text-white">pendency</span></a></h3>

          {% assign currentPage = page.url | downcase | remove: '.html' %}
          {% assign pageDirectory = page.dir | downcase %}

          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link {% if currentPage == '/' %}active{% endif %}" href="/">Home</a>
            <a class="nav-link {% if currentPage == '/why' %}active{% endif %}" href="/why">Why?</a>
            <a class="nav-link {% if currentPage == '/docs/getting-started' %}active{% endif %}" href="/docs/getting-started">Getting Started</a>
            <a class="nav-link {% if currentPage == '/docs' or pageDirectory == '/docs/' and currentPage != '/docs/getting-started' %}active{% endif %}" href="/docs">Documentation</a>
            <a class="nav-link {% if currentPage == '/pricing' %}active{% endif %}" href="/pricing">Pricing</a>
            <a class="nav-link {% if currentPage == '/faq' %}active{% endif %}" href="/faq">FAQ</a>
            <a class="install-button btn btn-success" href="https://github.com/marketplace/deadpendency" target="_blank" rel="noopener">Install On GitHub</a>
          </nav>
        </div>
      </header>

      <main class="px-3 mt-5">
        {{ content }}
      </main>

      <footer class="global-footer mt-auto text-white-50">
        <div class="float-md-start">
          <span>© Deadpendency 2021</span>
        </div>
        <div class="float-md-end">
          <a href="https://twitter.com/deadpendency" target="_blank" rel="noopener">Twitter</a>
          <a href="/survey">Survey</a>
          <a href="/contact">Contact</a>
          <a href="/privacy">Privacy</a>
          <a href="/terms">Terms of service</a>
        </div>
      </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js" integrity="sha512-Pbb8o120v5/hN/a6LjF4N4Lxou+xYZ0QcVF8J6TWhBbHmctQWd8O6xTDmHpE/91OjPzCk4JRoiJsexHYg4SotQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175234743-1"></script>
    {% if jekyll.environment == 'production' %}
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-175234743-1');
    </script>
    {% endif %}
  </body>
</html>
