<!doctype html>
<html lang="en" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#7952b3">

    <title>{{ page.title }}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/fontawesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/solid.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/agate.min.css" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  </head>
  <body class="d-flex text-white bg-dark min-vh-100">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="global-header mb-5">
        <div>
          <h3 class="float-md-left mb-0"><a href="/"><span class="text-warning">Dead</span><span class="text-white">pendency</span></a> <small><sub>BETA</sub></small></h3>

          {% assign currentPage = page.url | downcase | remove: '.html' %}

          <nav class="nav nav-masthead justify-content-center float-md-right">
            <a class="nav-link {% if currentPage == '/' %}active{% endif %}" href="/">Home</a>
            <a class="nav-link {% if currentPage == '/why' %}active{% endif %}" href="/why">Why?</a>
            <a class="nav-link {% if currentPage == '/pricing' %}active{% endif %}" href="/pricing">Pricing</a>
            <a class="nav-link {% if currentPage == '/language-support' %}active{% endif %}" href="/language-support">Languages</a>
            <a class="nav-link {% if currentPage == '/usage' %}active{% endif %}" href="/usage">Usage</a>
            <a class="nav-link {% if currentPage == '/faq' %}active{% endif %}" href="/faq">FAQ</a>
            <a class="nav-link {% if currentPage == '/rules' %}active{% endif %}" href="/rules">Rules</a>
            <a class="nav-link {% if currentPage == '/terms' %}active{% endif %}" href="/terms">Terms</a>
          </nav>
        </div>
      </header>

      <main class="px-3 mt-5">
        {{ content }}
      </main>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
