<!doctype html>
<html lang="en" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#7952b3">

    <title>{{ page.title }}</title>

    <link rel="shortcut icon" href="/assets/image/32x32-favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css" integrity="sha512-N415hCJJdJx+1UBfULt+i+ihvOn42V/kOjOpp1UTh4CZ70Hx5bDlKryWaqEKfY/8EYOu/C2MuyaluJryK1Lb5Q==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/solid.min.css" integrity="sha512-jQqzj2vHVxA/yCojT8pVZjKGOe9UmoYvnOuM/2sQ110vxiajBU+4WkyRs1ODMmd4AfntwUEV4J+VfM6DkfjLRg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/brands.min.css" integrity="sha512-apX8rFN/KxJW8rniQbkvzrshQ3KvyEH+4szT3Sno5svdr6E/CP0QE862yEeLBMUnCqLko8QaugGkzvWS7uNfFQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/agate.min.css" integrity="sha512-dtcZayDwnLWcHMKRgV5S5qk2T4+jz45M89ychxm+Rl9/bA/SiqD59y9ZNoMVDFo7Hnss/O8MruCqWLL5yDv/aQ==" crossorigin="anonymous" />

    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  </head>
  <body class="d-flex text-white bg-dark min-vh-100">
    <div class="cover-container d-flex w-100 h-100 min-vh-100 p-3 mx-auto flex-column">
      <header class="global-header mb-5">
        <div>
          <h3 class="float-md-start mb-0"><a href="/"><span class="text-warning">Dead</span><span class="text-white">pendency</span></a></h3>

          {% assign currentPage = page.url | downcase | remove: '.html' %}
          {% assign pageDirectory = page.dir | downcase %}

          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link {% if currentPage == '/' %}active{% endif %}" href="/">Home</a>
            <a class="nav-link {% if currentPage == '/why' %}active{% endif %}" href="/why">Why?</a>
            <a class="nav-link {% if currentPage == '/docs/getting-started' %}active{% endif %}" href="/docs/getting-started">Getting Started</a>
            <a class="nav-link {% if currentPage == '/docs' or pageDirectory == '/docs/' and currentPage != '/docs/getting-started' %}active{% endif %}" href="/docs">Documentation</a>
            <a class="nav-link {% if currentPage == '/pricing' %}active{% endif %}" href="/pricing">Pricing</a>
            <a class="nav-link {% if currentPage == '/faq' %}active{% endif %}" href="/faq">FAQ</a>
            <a class="install-button btn btn-success" href="https://github.com/marketplace/deadpendency" target="_blank" rel="noopener">Install On GitHub</a>
          </nav>
        </div>
      </header>

      <main class="px-3 mt-5">
        {{ content }}
      </main>

      <footer class="global-footer mt-auto text-white-50">
        <div class="float-md-start">
          <span>© Deadpendency 2021</span>
        </div>
        <div class="float-md-end">
          <a href="https://twitter.com/deadpendency" target="_blank" rel="noopener">Twitter</a>
          <a href="/survey">Survey</a>
          <a href="/contact">Contact</a>
          <a href="/privacy">Privacy</a>
          <a href="/terms">Terms of service</a>
        </div>
      </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/highlight.min.js" integrity="sha512-d00ajEME7cZhepRqSIVsQVGDJBdZlfHyQLNC6tZXYKTG7iwcF8nhlFuppanz8hYgXr8VvlfKh4gLC25ud3c90A==" crossorigin="anonymous"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175234743-1"></script>
    {% if jekyll.environment == 'production' %}
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-175234743-1');
    </script>
    {% endif %}
  </body>
</html>
